@tailwind base;
@tailwind components;
@tailwind utilities;

.card-border {
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
}
